data/baselines/*.csv
data/baselines/*.xlsx
data/input/operative_reports/*.pdf
data/input/operative_reports/*.txt
data/input/operative_reports/images
data/input/pathology_reports/*.pdf
data/output/operative_results/compare/*.xlsx
data/output/operative_results/raw/*.xlsx
data/output/pathology_results/csv_files/*.csv
data/output/pathology_results/csv_files/*.xlsx
data/output/pathology_results/excel_files/*.xlsx
data/utils/training_metrics/params/*.csv
data/utils/training_metrics/*.xlsx
data/utils/operative_reports/operative_column_mappings.csv
data/utils/pathology_reports/pathology_column_mappings.csv
data/utils/*.data
data/utils/*.ods
data/utils/*.xlsx
.idea
.Rhistory
data/output/compare_human_baseline_operative.xlsx
data/output/compare_human_baseline_pathology.xlsx
data/output/pathology_results/old
data/output/operative_results/old
data/output/operative_results/training
data/output/pathology_results/training
data/input/validation
nlp
data