data/baselines/*.csv
data/baselines/*.xlsx
data/input/operative_reports/*.pdf
data/input/operative_reports/*.txt
data/input/operative_reports/images
data/input/pathology_reports/*.pdf
data/output/operative_results/compare/*.xlsx
data/output/operative_results/raw/*.xlsx
data/output/pathology_results/csv_files/*.csv
data/output/pathology_results/csv_files/*.xlsx
data/output/pathology_results/excel_files/*.xlsx
data/utils/training_metrics/params/*.csv
data/utils/training_metrics/*.xlsx
data/utils/*.csv
data/utils/*.data
data/utils/*.ods
data/utils/*.xlsx
.idea
.Rhistory